@import './../../scss/abstracts/variables';
@import './../../scss/abstracts/mixins';

.welcome {
	height: 100vh;
	background-color: map-get($colors, notFoundMain);
	color: map-get($globalColors, globalWhite);
	overflow: hidden;
	.container {
		@include positioning(relative);
		@include sizing(100%, 85vh);
		@include flex-mother(column);
		&::after {
			position: absolute;
			@include sizing(100%, 150px);
			content: '';
			background-image: url('./../../assets/svg/wave.svg');
			bottom: 0;
		}
	}
	&__title {
		font-size: clamp(2rem, 5vh, 4rem);
		&:hover {
			color: red;
		}
	}
	&__description {
		font-size: clamp(1rem, 5vh, 2rem);
		margin-top: 2em;
	}
}

.bubble {
	@include positioning(absolute, 50%, 50%);
	@include sizing(40vh, 40vh);
	transform: translate(-50%, -50%);
	border-radius: 50%;
	border: 1em solid map-get($globalColors, globalWhite);
	animation: hide 2s linear 1 forwards;
}

@keyframes hide {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
